<a href="https://colab.research.google.com/github/ajaysingh9203/ud839_Miwok/blob/Starter-code/Python_Ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
movies=[]
print(movies)
movies.append('the dark knigt')
print(movies)
movies.append('the notebook')
print(movies)
print(movies[0])

[]
['the dark knigt']
['the dark knigt', 'the notebook']
the dark knigt



*   Create a variable called num_users and set it equal to the length of the usernames list. 
*   Print the num_users variable
*   Use floor division (//) to get the index of the username halfway through the list rounded down.
*   Print that username

In [ ]:
usernames = [
    "johndoe123",
    "billyrae456",
    "sallysue124",
    "pratham",
    "preston",
    "wagslane",
    "jimmyjohn",
    "bopeep",
    "strightkilla",
    "reddyman",
    "singsonger",
    "killingeet",
    "movieluvver",
    "filmenthus",
    "yoyoyoyo123",
]
num_users=len(usernames)
print(num_users)
middle_user=num_users//2
print(usernames[middle_user])

15
bopeep

**Append**

We have a numeric list of our customer's star ratings of various movies. We need to create a labels list that has a more presentable version. The integer 5 becomes the string "5 stars", 4 becomes "4 stars", etc.

Create an empty labels list
Loop over each star rating
Append the corresponding string for each star label. Use the .format method.
Print the labels list

In [10]:
star_ratings = [5, 3, 2, 2, 5, 4, 1, 2, 5]
labels=[]
for i in star_ratings:
    labels.append("{} stars".format(i))
    
print(labels)

['5 stars', '3 stars', '2 stars', '2 stars', '5 stars', '4 stars', '1 stars', '2 stars', '5 stars']

**Slicing** **lists**.

Assignment

First, print a slice of the movies list that starts with the third item in the list.

Next, print a slice of the movies list that ends with the third item from the end of the list.

Last, print a slice of the movies list that skips every odd numbered index.

In [16]:
movies = [
    "oh brother where art thou",
    "oceans eleven",
    "fight club",
    "the island",
    "shutter island",
    "the magnificent seven",
]

#print(movies[2:])
#print(movies[0:len(movies)-2])
#print(movies[0:len(movies):2])

print(movies[2:])

print(movies[:-2])

print(movies[::2])

['fight club', 'the island', 'shutter island', 'the magnificent seven']
['oh brother where art thou', 'oceans eleven', 'fight club', 'the island']
['oh brother where art thou', 'fight club', 'shutter island']

**List deletion**
Python has a built-in keyword del that deletes items from objects. In the case of a list, you can delete specific indexes or entire slices.
Assignment

Delete the first movie from the list

Print the list of movies

Delete the last two movies from the list as a slice

Print the list of movies

In [23]:
movies = [
    "oh brother where art thou",
    "oceans eleven",
    "fight club",
    "the island",
    "shutter island",
    "the magnificent seven",
]

del movies[0]
print(movies)
del movies[-2:]
print(movies)

['oceans eleven', 'fight club', 'the island', 'shutter island', 'the magnificent seven']
['oceans eleven', 'fight club', 'the island']